<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="gh-lordmike" value="https://nuget.pkg.github.com/LordMike/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gh-lordmike>
        <add key="Username" value="MyGithubUser" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAL6BHhT4AAEarVh58rYUbPwAAAAACAAAAAAAQZgAAAAEAACAAAAB7k7pCvT2Wox352yf+jX/r5/ZWRGhnL5iZrKlABsp5JwAAAAAOgAAAAAIAACAAAABeA0b9Cwdy5/NdkGmn9Hoi1ZpUCDrZ9d5YOjxdQExFzxAAAAB/MRX2YeBfQhR4NjmQQnvLQAAAAATO52+pQ6yGybTkmLJ9y9wg84lo85zJlK8lBG0qHioFBB63PdGdP2IKT1g3g28wTM0klHOwEx18+GdbeSHfNIw=" />
      </gh-lordmike>
  </packageSourceCredentials>
</configuration>
